#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=0.1.7
Name=BitCurator Report Generator (Command-Line)
GenericName=ForensicTool
Comment=bitcurator reporting command-line tool
Terminal=true
Icon=/usr/share/icons/unity-icon-theme/apps/128/web.svg
Icon[en_US]=/
Exec=/home/bcadmin/Tools/scripts/run-bcreport.sh
