#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=FITS File Information
GenericName=FITS
Comment=Harvard FITS command-line
Terminal=true
Icon=/usr/share/icons/unity-icon-theme/apps/128/web.svg
Icon[en_US]=/
Exec=/home/bcadmin/Tools/scripts/run-fits.sh
