#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=HFSExplorer
GenericName=HFS
Comment=HFS Explorer
Terminal=true
Icon=/usr/share/icons/unity-icon-theme/apps/128/web.svg
Icon[en_US]=/
Exec=/home/bcadmin/Tools/hfsexplorer/./runfsb.sh
