[Desktop Entry]
# BitCurator GUI
# The format of this file is specified at
# http://freedesktop.org/Standards/desktop-entry-spec
# The entries are in the order they are listed in version 1.0
Type=Application
Version=1.0
Name=BitCurator Reporting Tool
GenericName=bcgui
Comment=GUI for forensics tools in BitCurator
Icon=/usr/share/icons/unity-icon-theme/apps/128/web.svg
TryExec=guymager
Exec=/home/bcadmin/Tools/bitcurator/python/bc_reports_tab.py
Terminal=false
# Categorie entry according to version 1.0 of
# http://www.freedesktop.org/wiki/Specifications/menu-spec
Categories=Qt
