
[Desktop Entry]
Type=Application
Exec=gksu /usr/local/bin/mounter
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Mounter
Name=Mounter
Comment[en_US]=Device mounting applet
Comment=evice mounting applet
